
*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    background-image: url('Assetes/wallpaper002.jpg');
}
.quadrado{
    background-color: rgb(133, 25, 25);
    width: 300px;
    height: 300px;
    border: 2px solid black;
    display: inline-block;
    
}

#q1{
    background-color: aqua
}

#q2{
   background: linear-gradient(to bottom, #fff, rgb(0, 0, 0));
   
}

#q3{
    background-image: url('Assetes/pattern003.png');
}

