
/* Mobile Frist */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    background: url("../image/back-phone.jpg");
    background-size: cover;
    background-position: center center;
}

main{
    width: 90vw;
    background-color: rgba(128, 128, 128, 0.333);
    margin: auto;
    border-radius: 20px;
    margin-top: 40px;
    padding-top: 70px;
}

h1{
    padding-top: 60px;
    text-align: center;
    margin-bottom: -90px;
    color: #258dc2;
}

img#cel{
    display: block;
    margin: auto;
}

h1#cel{display: block;}
h1#tablet{display: none;}
h1#pc{display: none;}
h1#tv{display: none;}

img#cel{display: block;}
img#tablet{display: none;}
img#pc{display: none;}
img#tv{display: none;}


/* Tablet */

@media screen and (min-width:780px) and (max-width: 992px) {

    body{
        background-image: url('../image/back-tablet.jpg');
    }

    img#tablet{
        display: block;
        margin: auto;
    }

    h1#cel{display: none;}
    h1#tablet{display: block;}
    h1#pc{display: none;}
    h1#tv{display: none;}

    img#cel{display: none;}
    img#tablet{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
}


/* Desktop */

@media screen and (min-width:992px) and (max-width: 1200px){

    body{
        background-image: url('../image/back-pc.jpg');
    }

    img#pc{
        display: block;
        margin: auto;
    }

    h1#cel{display: none;}
    h1#tablet{display: none;}
    h1#pc{display: block;}
    h1#tv{display: none;}

    img#cel{display: none;}
    img#tablet{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}


/* Telas Grandes */

@media screen and (min-width:1200px){

    body{
        background-image: url('../image/back-tv.jpg');
    }

    img#tv{
        display: block;
        margin: auto;
    }

    h1#cel{display: none;}
    h1#tablet{display: none;}
    h1#pc{display: none;}
    h1#tv{display: block;}

    img#cel{display: none;}
    img#tablet{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}

}